.App {
  text-align: center;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.form {
  width: 820px;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #090f06;
}
/* change the background color */
.navbar-custom {
  background-color: #0f0c11;
}.navbar-nav > a:nth-child(1) {
  /* margin-left: 1px; */

  margin-right: 100px;
}
img.pequeña{
  width: 40px;
  height: 40px;
}
img.grande{
  width: 1800px;
  height: 800px;
}
.parrafo {
text-align: left;
margin-left: 1%;
font-size:150%;

}
img.login{
  width: 350px;
  height: 250px;
}
img.contact{
  width: 120px;
  height: 100px;
}